body {
  background: #000;
  color: #000;
  margin: 20px;
}

.box-text {
  background: #e3e3e3;
  border: 1px solid #e95d49;
  padding: 10px;
  margin: 0;
}

section {
  border: 10px solid #ffa500;
}

.box-border-2 {
  border: 1px solid #e95d49;

}

.box-border-3 {
  border: 10px solid #318dc0;
}

.box-border-4 {
  width: 348px;
  border: 1px solid #e95d49;
}

.block-indent {
  margin-bottom: 40px;
}
